div.container {
    height: calc(100vh - 4em);
}

#draw_area {
    margin-bottom: 2em;
}

.controls {
    display: flex;
    padding: .5em;
}

.controls button {
    display: flex;
    flex-grow: 0;
}

.controls input {
    display: flex;
    flex-grow: 1;
}
