* {
    box-sizing: content-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Roboto,sans-serif;
}

h2 {
    margin-top: 1.5em;
}

div.container {
    width: 100vw;
    height: calc(100vh - 4em);
    background-color: #555;
    display: flex;
}

div.size {
    display: flex;
    align-self: flex-end;
    flex-grow: 1;
    background-color: #333;
    position: relative;
}

div.size.partition.highlight {
    background-color: #ccc;
}

div.size.partition {
    background-color: #000;
}

div.size.pivot,
div.size.highlight.pivot {
    background-color: #f00;
}

span.label {
    align-self: baseline;
    position: absolute;
    bottom: -1.5em;
    left: 0;
    right: 0;
    display: inline-block;
    text-align: center;
    border-top: 1px solid #000;
    margin: 1px;
}

#draw_area {
    margin-bottom: 2em;
}

.controls {
    display: flex;
    padding: .5em;
}

.controls button {
    display: flex;
    flex-grow: 0;
}

.controls input {
    display: flex;
    flex-grow: 1;
}
